############
## Project
############

vendor/
composer.lock
node_modules/
Gruntfile.js
package.json
*~


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Vagrant
############
.vagrant/


############
## PHPStorm
############
.idea/
